.views {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 500px;
}

.views > div {
    max-height: 200px;
    max-width: 300px;
    border: 10px solid black;
    border-radius: 15px;
    overflow: hidden;
}

.view-button {
    background-color: white;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: black;
}

.view-button:hover {
    background-color: blue;
    color: white;
}